<header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Memorizers</span><h1>
        </div>
        <nav>
          <ul>
            <li><%= link_to "Home", "/", class: "current" %></li>
            <li><a href="about.html">About</a></li>
            <li><a href="services.html">Services</a></li>
          </ul>
        </nav>
      </div>
</header>